/* Grid layout - Dashboard */
/* Divide entire page into a 2x2 Grid
    2 Columns, 2 Rows
    ASide Should Span from top to bottom
    nav bar Should be Top next to Aside
    Main Content should be below Nav-bar and next to aside
    Aside left Side, Nav + Main right side
    Ex. 1fr 3fr Columns || minmax(200px, 1fr) minmax(600px, 3fr)
    Ex 1fr 4fr Rows || minmax(150px, 1fr) minmax(600px, 4fr)
*/
* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  /* gap: 10px; */
}
.nav-bar {
  border: solid black 1px;
  /* grid-column: 1 / 3; */
  /* grid-row: 1 / 2; */
}
.aside {
  border: solid black 1px;
  grid-column: 1 / 2;
  grid-row: 1 /3;
}
.main-content {
  border: solid black 1px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.card {
}
