/* Grid layout - Dashboard */
/* Divide entire page into a 2x2 Grid
    2 Columns, 2 Rows
    ASide Should Span from top to bottom
    nav bar Should be Top next to Aside
    Main Content should be below Nav-bar and next to aside
    Aside left Side, Nav + Main right side
    Ex. 1fr 3fr Columns || minmax(200px, 1fr) minmax(600px, 3fr)
    Ex 1fr 4fr Rows || minmax(150px, 1fr) minmax(600px, 4fr)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  /* text-align: center; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  /* gap: 10px; */
}

/* Navbar */
.nav-bar {
  /* grid-column: 1 / 3; */
  /* grid-row: 1 / 2; */
  /* border: solid black 1px; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 3px solid #bbb;
  padding: 0.5rem;
}
.container-search {
  /* border: solid red 1px; */
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
input[type="search"] {
  padding: 0.2rem;
  width: 75%;
}
.profile-img {
  border: solid black 2px;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container-notification {
  /* border: solid orange 1px; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container-usertag {
  /* border: solid blue 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 10%;
}
#user-tag {
  font-size: 1.3em;
  line-height: 1.3em;
}
.greeting-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container-btns {
  /* border: solid green 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-btns {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 50em;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 700;
  color: white;
}
.nav-btns:hover {
  box-shadow: 0 0 0 0.15rem #5ceace;
}
/* Aside */
.aside {
  /* border: solid black 1px; */
  grid-column: 1 / 2;
  grid-row: 1 /3;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  background: coral;
}
.aside-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}
#aside-title {
  color: white;
}
.aside-menu1 {
  display: grid;
  /* justify-items: start; */
  place-items: center;
}
.aside-menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}
.aside-menu1 > div > span > a,
.aside-menu2 > div > span > a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}
.aside-menu1 > div > span > a:hover,
.aside-menu2 > div > span > a:hover {
  color: black;
}

/* Main */
.main-content {
  /* border: solid black 1px; */
  background-color: rgb(228, 238, 248);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.card-container {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  gap: 1rem;
}
.card {
  background-color: rgb(187, 187, 187);
  padding: 1.5rem;
  border-radius: 5px;
  border-left: solid orange 0.5em;
  display: grid;
  font-family: Georgia;
}
.card-projects {
  grid-column: 1/3;
  font-family: verdana;
  font-weight: bolder;
  font-size: 1.2em;
}
.card-title {
  font-size: 1.3em;
  font-weight: bolder;
  font-family: verdana;
}
.card-socials {
  margin-top: 0.8em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* Announcements & Trending */
.anno-container {
  /* border: black solid 1px; */
  /* display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem; */
  display: grid;
  grid-template-rows: 1fr 5fr;
  justify-items: center;
}
.anno-title {
  /* justify-self: start;
  align-self: start; */
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.anno-items {
  background-color: rgb(187, 187, 187);
  padding: 1.5rem;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  display: grid;
  font-family: Georgia;
}
.anno-card {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.anno-border {
  border-bottom: solid black 1px;
}
.anno-item-title {
  font-size: 1em;
  font-weight: 600;
  font-family: verdana;
}
.trending-container {
  /* border: black solid 1px; */
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}
.trending-profiles {
  padding: 2rem;
  /* border: solid red 1px; */
  background-color: rgb(187, 187, 187);
  border-radius: 10%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.trending-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.trending-tags {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
